
  
 @font-face {
    font-family: sans-serif;
    src: url(font/font.otf);
    font-weight: bold;
  }
  
  .image {
    
    height: 50px;
    width: 50px;
  }
  
.navbar
  {	font-family: sans-serif;
      background-color: rgba(255,255,255,1);
	  padding:.8rem;
  }
.navbar-nav li{
	padding-right: 20px
}
