body{
	background-image: 'img/back1.jpeg';
}
nav{
	background-color:#243447;
}

main{
	min-height: 500px;
}

main form{
	background-color:#f2f2f2;
	border-radius: 10px;
  padding: 15;
}
button{
	background-color:#052616;
}
.carousel-caption{
	opacity:0.5;
}
#map {
  width: auto;
  height: 300px;
}
div.card{
	transition: transform 0.5s;
}
div.card:hover {
	transform: scale(1.01,1.01);
}
.card a, a:hover {
	color: black;
	text-decoration: none;
}
header img{
	max-height:150px;
	height:-webkit-fill-available;
}
.dropdown-menu{
    background-color:#243447;
}
.dropdown-menu a{
	color:rgba(255,255,255,.5);
}
.dropdown-menu a:hover{
   color:white;
   background-color:#28a745;
}